<!-- convert.component.html -->
<div class="convert-container">
  <h1>YT2MP3</h1>
  <h4>YouTube to MP3 Converter</h4>
  <form (ngSubmit)="getVideo()">
    <mat-form-field appearance="fill">
      <mat-label>Video ID</mat-label>
      <input matInput [(ngModel)]="videoId" name="videoId" required />
    </mat-form-field>

    <div *ngIf="this.videoInfo">
      <h4>Update Title and Artist if needed</h4>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="titleMusic" name="title"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Artist</mat-label>
        <input matInput [(ngModel)]="artist" name="artist"/>
      </mat-form-field>
      <br/>
      <div class="video-info">
        <img src="{{this.videoInfo.thumbnail}}"/>
        <h6>{{this.videoInfo.title}}</h6>
      </div>
    </div>

    <!-- Convert and Download button -->
<button *ngIf="!videoInfoAvailable; else videoAvailable" mat-raised-button color="primary">
  Get Video >>
</button>

<!-- Converting button (shown when isConverted is false) -->
<ng-template #videoAvailable>
  <button mat-raised-button color="primary" (click)="getAudioFile()">
    Convert and Download
  </button>
</ng-template>
    
  </form>
</div>
<div class="footer" style="text-align: center;">
  Made with &hearts; by <a href="https://jcqgodmalin.com/" target="_blank">Jhon</a>
</div>